:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --list-active-color: #2196f3;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--color-white);
}

.snare-focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover,
.snare-focus:focus {
  color: var(--list-active-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.containter {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .containter {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .containter {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .containter {
    max-width: 1200px;
  }
}

.logo {
  display: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .logo {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    margin-left: 0;
  }
}

.logo__mob {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  width: 193px;
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .logo__mob {
    display: none;
  }
}

.logo-span {
  color: #000000;
}

.logo-border {
  border-bottom: 1px solid #ececec;
}
.logo-border .containter {
  position: relative;
}

.nav-blok {
  display: flex;
  justify-content: center;
  max-height: 80px;
}

.navigation-list {
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .nav-item + .nav-item {
  margin-left: 50px;
}

.contacts-header-list {
  list-style-type: none;
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts-header-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header-list {
    display: flex;
  }
}

.nav-contact-tell,
.nav-contact-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .nav-contact-tell,
.nav-contact-mail {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contact-tell,
.nav-contact-mail {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-contact-mail {
  padding-top: 21px;
}
@media screen and (min-width: 1200px) {
  .nav-contact-mail {
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 0;
  }
}

.nav-contact-tell {
  padding-bottom: 21px;
}
@media screen and (min-width: 1200px) {
  .nav-contact-tell {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .cnt-item:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .cnt-item:nth-child(2) {
    margin-left: 30px;
  }
  .cnt-item:nth-child(1) {
    margin-bottom: 0;
  }
}

.main-icon {
  margin-right: 10px;
  fill: #757575;
}

.main-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover .main-icon,
.snare-focus:focus .main-icon {
  fill: currentColor;
}

.portfolio-color-active,
.index-color-active {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--list-active-color);
  display: block;
  border-radius: 4px;
  position: absolute;
  bottom: -1px;
}

.btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #fff;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  margin-top: 10px;
  transition: fill 250ms;
}
.btn-menu:hover, .btn-menu:focus {
  fill: var(--list-active-color);
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu-close {
  border: none;
  background-color: #fff;
  padding: 11px;
  transition: fill 250ms;
  display: block;
  margin-left: auto;
}
.btn-menu-close:hover, .btn-menu-close:focus {
  fill: var(--list-active-color);
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}
.mob-menu .containter {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  padding-left: 0;
}

.mob-menu__top {
  margin-bottom: 32px;
}

.nav-item__mob {
  margin-bottom: 32px;
}
.nav-item__mob:nth-child(3) {
  margin-bottom: 0;
}

.nav-link__mob {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .nav-link__mob {
    font-size: 40px;
    line-height: 1.175;
  }
}

.index-color-active__mob {
  color: var(--list-active-color);
}

.contacts-header-list__mob {
  margin-bottom: 64px;
}

.cnt-item__mob {
  margin-bottom: 32px;
}
.cnt-item__mob:nth-child(2) {
  margin-bottom: 0;
}

.nav-contact__mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--list-active-color);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .nav-contact__mob {
    font-size: 34px;
    line-height: 1.176;
  }
}

.nav-contact-tell__mob {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .nav-contact-tell__mob {
    font-size: 24px;
    line-height: 1.16;
  }
}

.soc-menu {
  display: flex;
}

.soc-menu__list {
  padding: 10px;
}

.soc-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .soc-menu-link {
    font-size: 18px;
    line-height: 1.22;
  }
}

.soc-menu__bef::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -20px;
  height: 1px;
  width: 1px;
  border-left: 22px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.title {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 1600px;
}
@media screen and (max-width: 480px) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-title-mob-min.jpg);
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img@2x-title-mob-min.jpg);
  }
}
@media screen and (max-width: 768px) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-title-tab-min.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img@2x-title-tab-min.jpg);
  }
}
@media screen and (min-width: 769px) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-title-des-min.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img@2x-title-des-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    padding: 200px 0;
    height: 600px;
  }
}

.title-main {
  display: flex;
  /* padding-top: 200px; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 21px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  max-width: 290px;
}
@media screen and (min-width: 480px) {
  .title-main {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .title-main {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.title-btn {
  display: block;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-white);
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .title-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
  }
}

@media screen and (min-width: 480px) {
  .features {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
}

.features-list {
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .features-list {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .features-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list .features-item + .features-item {
    margin: 0;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item:nth-child(1) {
    margin: 0;
  }
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
    height: 251px;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

.features-item:nth-child(4) {
  margin-bottom: 0;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.technology {
  display: none;
}
@media screen and (min-width: 1200px) {
  .technology {
    display: contents;
  }
}

.technology-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 94px;
}

.technology-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.technology-list .technology-item + .technology-item {
  margin-left: 30px;
}

.technology-img {
  display: block;
}

.technology-item {
  position: relative;
}

.technology-name {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  bottom: 0;
  text-transform: uppercase;
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team-box {
  padding: 30px 0;
  align-items: center;
}

.team-list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-item-photo {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}
.team-item-photo:nth-child(4) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-item-photo {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-item-photo {
    width: 270px;
  }
}

.team-subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team-subtitle {
    font-size: 34px;
    line-height: 1.23;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.team-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
}

.team-item-icon {
  width: 44px;
  height: 44px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--list-active-color);
}

.team-icon {
  fill: #afb1b8;
}

.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: var(--color-white);
}

.team-icon-list .team-item-icon + .team-item-icon {
  margin-left: 10px;
}

.customers {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
}

.subtitle-customers {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .subtitle-customers {
    font-size: 36px;
    line-height: 1.16;
  }
}

.customers-list {
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.link-icon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5%;
  outline: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .link-icon-logo {
    width: 210px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .link-icon-logo {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .link-icon-logo {
    width: 170px;
  }
}

.link-icon-logo {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-logo:hover,
.link-icon-logo:focus {
  border: 1px solid var(--list-active-color);
}

.link-icon-logo:hover .logo-icon,
.link-icon-logo:focus .logo-icon {
  fill: var(--list-active-color);
}

.logo-icon {
  fill: #afb1b8;
}

.logo-font-footer {
  background-color: #2f303a;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.studio-footer {
  color: var(--color-white);
}

.nav-footer {
  width: 231px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .nav-footer {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav-footer {
    text-align: left;
    margin-left: 0;
    margin-right: 70px;
  }
}

.logo-footer {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
  }
}

.actual-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: 0;
}

/* .ctn-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */
.email-footer {
  margin-top: 9px;
}

.tell-footer {
  margin-top: 9px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0px;
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.subtitle-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subtitle-join {
    text-align: left;
  }
}

.list-soc-icon-footer {
  display: flex;
  justify-content: center;
}

.item-soc-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.link-icon-soc-footer {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.link-icon-soc-footer {
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-soc-footer:hover,
.link-icon-soc-footer:focus {
  background-color: var(--list-active-color);
}

.soc-icon-footer {
  fill: var(--color-white);
}

.list-soc-icon-footer .item-soc-footer + .item-soc-footer {
  margin-left: 10px;
}

.nav-join-footer {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .nav-join-footer {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav-join-footer {
    align-items: baseline;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.form-imput {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-imput {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .form-imput {
    width: 358px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .input-footer {
    display: flex;
  }
}

.form-imput:hover,
.form-imput:active,
.form-imput:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.btn-footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .btn-footer-mail {
    margin-left: 15px;
    height: 50px;
  }
}

.btn-footer-mail:hover {
  cursor: pointer;
}

.icon-btn-footer {
  margin-left: 10px;
  fill: #fff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  height: 90%;
  max-height: 600px;
  width: 90%;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    max-height: 609px;
    width: 90%;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.btn-icon-modal {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.btn-icon-modal:hover .icon-modal,
.btn-icon-modal:focus .icon-modal {
  fill: var(--list-active-color);
}

.input-modal-list {
  margin-bottom: 10px;
  max-height: 58px;
}

.sub-title-modal {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .sub-title-modal {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .sub-title-modal {
    font-size: 20px;
    line-height: 1.15;
  }
}

.name-imput-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-modal-textarea {
  max-height: 138px;
  margin-bottom: 20px;
}

.name {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
}

.form-imput-modal-name {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus,
.form-imput-modal-name:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.icon-btn {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus ~ .icon-btn,
.form-imput-modal-name:active ~ .icon-btn {
  fill: var(--list-active-color);
}

.coment-modal {
  resize: none;
  width: 100%;
  min-height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment-modal:focus,
.coment-modal:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.link-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.btn {
  display: block;
  margin: 0 auto;
}

.btn-modal-end {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
}

.btn-modal-end:hover {
  cursor: pointer;
}

.icon-input-modal {
  position: relative;
}

.modal-check {
  position: relative;
  display: block;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #757575;
  max-height: 24px;
  max-width: 370px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .modal-check {
    font-size: 12px;
    line-height: 0.85;
  }
}
@media screen and (min-width: 1200px) {
  .modal-check {
    font-size: 14px;
    line-height: 1.71;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
}

.check-icon {
  position: absolute;
  top: -20%;
  left: 0;
}
@media screen and (min-width: 768px) {
  .check-icon {
    top: -20%;
  }
}
@media screen and (min-width: 1200px) {
  .check-icon {
    top: 15%;
  }
}

.check-text {
  padding-left: 14px;
}
@media screen and (min-width: 1200px) {
  .check-text {
    padding-left: 24px;
  }
}

.link-check {
  color: var(--list-active-color);
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  top: 60%;
  left: 16px;
}

.check-icon-off {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon-on {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text .check-icon-off {
  display: none;
}

.input-check:checked + .check-text .check-icon-on {
  display: block;
}

.input-check:hover + .check-text svg,
.input-check:focus + .check-text svg {
  fill: var(--list-active-color);
}

.sct-main-portfolio {
  padding: 94px 0;
}

.portfolio-button-list {
  display: flex;
  list-style-type: none;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio-button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-button-list {
    margin-bottom: 50px;
  }
}

.list-btn:nth-child(-n+3) {
  margin-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .list-btn:nth-child(-n+3) {
    margin-bottom: 0;
  }
}

.btn-all {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 6px 22px;
  outline: transparent;
}

.sort-btn-text {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  padding: 6px 22px;
}

.sort-btn-text {
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sort-btn-text:hover,
.sort-btn-text:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-white);
  outline: transparent;
}

.product-list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.product-list-photo {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .product-list-photo {
    max-width: 450px;
    height: 404;
  }
}
@media screen and (min-width: 768px) {
  .product-list-photo {
    margin-bottom: 0;
    max-height: 440px;
  }
}

.active-blok {
  display: block;
  text-decoration: none;
}

.active-blok {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-blok:hover,
.active-blok:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.active-blok .product-description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms;
}

.active-blok:hover .product-description,
.active-blok:focus .product-description {
  opacity: 1;
  transform: translateY(-100%);
}

.product-list-photo:nth-child(9) {
  margin-bottom: 0;
}

.subtitle-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.photo-img {
  display: block;
}
@media screen and (min-width: 480px) {
  .photo-img {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .photo-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .photo-img {
    width: 370px;
  }
}

.name-sort {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4xp;
  color: var(--primary-text-color);
}

.product-fon {
  background: var(--color-white);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .product-fon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .product-fon {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .product-fon__bot {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .product-fon__bot {
    padding-bottom: 20px;
  }
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.pos-product {
  position: relative;
  overflow: hidden;
}

.product-description {
  position: absolute;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  overflow-y: scroll;
}/*# sourceMappingURL=main.css.map */