:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --list-active-color: #2196f3;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--color-white);
}

.snare-focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover,
.snare-focus:focus {
  color: var(--list-active-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.containter {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.studio-header {
  color: #000000;
}

.logo-fon-header {
  border-bottom-style: 2px solid #ececec;
}

.logo-font-header-border {
  border-bottom: 1px solid #ececec;
}

.nav-blok {
  display: flex;
  justify-content: center;
  max-height: 80px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .nav-item + .nav-item {
  margin-left: 50px;
}

.contacts-header-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-icon {
  margin-right: 10px;
  fill: #757575;
}

.main-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover .main-icon,
.snare-focus:focus .main-icon {
  fill: currentColor;
}

.contacts-header-list .cnt-item + .cnt-item {
  margin-left: 50px;
}

.portfolio-color-active,
.index-color-active {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--list-active-color);
  display: block;
  border-radius: 4px;
  position: absolute;
  bottom: -1px;
}

.sct-main-title {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

.main-title {
  display: flex;
  /* padding-top: 200px; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 700px;
  color: var(--color-white);
}

.main-btn {
  display: block;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-white);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding: 94px 0;
}

.list {
  list-style-type: none;
}

.features-list {
  display: flex;
}

.subtitle-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-list .item-fut + .item-fut {
  margin-left: 30px;
}

.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item-fut {
  width: 270px;
}

.background-icon-fut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.sct-technology {
  padding-bottom: 94px;
}

.list-photo {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.subtitle-technology {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.list-photo .item-list-techn + .item-list-techn {
  margin-left: 30px;
}

.img-technology {
  display: block;
}

.item-list-techn {
  position: relative;
}

.name-app {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  bottom: 0;
  text-transform: uppercase;
}

.sct-team {
  padding: 94px 0;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

.team-box {
  padding: 30px 0;
  align-items: center;
}

.team-photo-fon {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.list-photo .team-photo-fon + .team-photo-fon {
  margin-left: 30px;
}

.subtitle-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.subtitle-name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.photo-team-scr {
  display: block;
}

.direction-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.icon-soc-team {
  display: flex;
  justify-content: center;
}

.icon-team-item {
  width: 44px;
  height: 44px;
}

.icon-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon-team-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover,
.icon-team-link:focus {
  background-color: var(--list-active-color);
}

.soc-icon {
  fill: #afb1b8;
}

.icon-team-link:hover .soc-icon,
.icon-team-link:focus .soc-icon {
  fill: var(--color-white);
}

.icon-soc-team .icon-team-item + .icon-team-item {
  margin-left: 10px;
}

.customers {
  padding: 94px 0;
}

.subtitle-customers {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
}

.link-icon-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5%;
  outline: transparent;
}

.customers-list .customers-item + .customers-item {
  margin-left: 30px;
}

.link-icon-logo {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-logo:hover,
.link-icon-logo:focus {
  border: 1px solid var(--list-active-color);
}

.link-icon-logo:hover .logo-icon,
.link-icon-logo:focus .logo-icon {
  fill: var(--list-active-color);
}

.logo-icon {
  fill: #afb1b8;
}

.studio-footer {
  color: var(--color-white);
}

.logo-footer {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
  width: 135px;
}

.addres-footer {
  width: 231px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.actual-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: 0;
}

/* .ctn-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */
.email-footer {
  margin-top: 9px;
}

.tell-footer {
  margin-top: 9px;
}

.logo-font-footer {
  background-color: #2f303a;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.join {
  margin-left: 70px;
}

.subtitle-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.list-soc-icon-footer {
  display: flex;
}

.item-soc-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.link-icon-soc-footer {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.item-soc-footer {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-soc-footer:hover,
.item-soc-footer:focus {
  background-color: var(--list-active-color);
}

.soc-icon-footer {
  fill: var(--color-white);
}

.list-soc-icon-footer .item-soc-footer + .item-soc-footer {
  margin-left: 10px;
}

.join-Subscribe {
  margin-left: 93px;
}

.form-imput {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput:hover,
.form-imput:active,
.form-imput:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.btn-footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  border: none;
}

.btn-footer-mail:hover {
  cursor: pointer;
}

.icon-btn-footer {
  margin-left: 10px;
  fill: #fff;
}

.input-footer {
  display: flex;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  min-height: 581px;
  min-width: 528px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.btn-icon-modal {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.btn-icon-modal:hover .icon-modal,
.btn-icon-modal:focus .icon-modal {
  fill: var(--list-active-color);
}

.input-modal-list {
  margin-bottom: 10px;
}

.sub-title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.name-imput-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-modal-textarea {
  max-height: 138px;
  margin-bottom: 20px;
}

.name {
  position: relative;
}

.form-imput-modal-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus,
.form-imput-modal-name:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.icon-btn {
  position: absolute;
  top: 80%;
  left: 16px;
  transform: translateY(-60%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus ~ .icon-btn,
.form-imput-modal-name:active ~ .icon-btn {
  fill: var(--list-active-color);
}

.coment-modal {
  resize: none;
  width: 100%;
  min-height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment-modal:focus,
.coment-modal:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.link-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.btn {
  display: block;
  margin: 0 auto;
}

.btn-modal-end {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
  margin-top: 30px;
}

.btn-modal-end:hover {
  cursor: pointer;
}

.modal-check {
  position: relative;
  display: block;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  max-height: 24px;
}

.check-icon {
  position: absolute;
  top: 15%;
  left: 8px;
}

.check-text {
  padding-left: 24px;
}

.link-check {
  color: var(--list-active-color);
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  top: 60%;
  left: 16px;
}

.check-icon-off {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon-on {
  display: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text .check-icon-off {
  display: none;
}

.input-check:checked + .check-text .check-icon-on {
  display: block;
}

.input-check:hover + .check-text svg,
.input-check:focus + .check-text svg {
  fill: var(--list-active-color);
}

.sct-main-portfolio {
  padding: 94px 0;
}

.portfolio-button-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-list .list-btn + .list-btn {
  margin-left: 8px;
}

.btn-all {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 6px 22px;
  outline: transparent;
}

.sort-btn-text {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  padding: 6px 22px;
}

.sort-btn-text {
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sort-btn-text:hover,
.sort-btn-text:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-white);
  outline: transparent;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
}

.product-list-photo {
  flex-basis: calc((100% - 90px) / 9);
  margin-left: 30px;
  margin-bottom: 30px;
}

.active-blok {
  display: block;
  text-decoration: none;
}

.active-blok {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-blok:hover,
.active-blok:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.active-blok .product-description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms;
}

.active-blok:hover .product-description,
.active-blok:focus .product-description {
  opacity: 1;
  transform: translateY(-100%);
}

.product-list-photo:nth-child(n+7) {
  margin-bottom: 0;
}

.subtitle-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.photo-img {
  display: block;
}

.name-sort {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4xp;
}

.product-fon {
  background: var(--color-white);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.pos-product {
  position: relative;
  overflow: hidden;
}

.product-description {
  position: absolute;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}/*# sourceMappingURL=main.css.map */