:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --list-active-color: #2196f3;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--color-white);
}

.snare-focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover,
.snare-focus:focus {
  color: var(--list-active-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-footer {
  color: var(--color-white);
}

.logo-footer {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
  width: 135px;
}

.addres-footer {
  width: 231px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.actual-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  padding: 0;
}

/* .ctn-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */
.email-footer {
  margin-top: 9px;
}

.tell-footer {
  margin-top: 9px;
}

.logo-font-footer {
  background-color: #2f303a;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}

.join {
  margin-left: 70px;
}

.subtitle-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.list-soc-icon-footer {
  display: flex;
}

.item-soc-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.link-icon-soc-footer {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}

.item-soc-footer {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-soc-footer:hover,
.item-soc-footer:focus {
  background-color: var(--list-active-color);
}

.soc-icon-footer {
  fill: var(--color-white);
}

.list-soc-icon-footer .item-soc-footer + .item-soc-footer {
  margin-left: 10px;
}

.join-Subscribe {
  margin-left: 93px;
}

.form-imput {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput:hover,
.form-imput:active,
.form-imput:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.btn-footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  border: none;
}

.btn-footer-mail:hover {
  cursor: pointer;
}

.icon-btn-footer {
  margin-left: 10px;
  fill: #fff;
}

.input-footer {
  display: flex;
}/*# sourceMappingURL=portfolio.css.map */