:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --list-active-color: #2196f3;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* -------------------header--------------------- */

/* -------------------logo------------------- */

.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  padding-top: 38px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.studio-header {
  color: #000000;
}

.logo-fon-header {
  border-bottom-style: 2px solid #ECECEC;
}

/* ---------------hidden-------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------navigation------------------- */

.logo-font-header {
  /* border-bottom: 1px solid #ECECEC; */
}

.containter {
  width: 1055px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
}

.nav-blok {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ECECEC;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .nav-item + .nav-item {
  margin-left: 50px;
}

.contacts-header-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-contact {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-header-list .cnt-item + .cnt-item {
  margin-left: 50px;
}

.portfolio-color-active,
.index-color-active {
  color: #2196f3;
}
/* -------------------main------------------- */

/* -------------------h1------------------- */

.containter-maim-title {
  display: flex;
  flex-direction: column;
}

.sct-main-title {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  margin-top: 32px;
}

.main-title {
  display: flex;
  padding-top: 200px;
  margin-bottom: 30px;
  justify-content: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-white);
}

.main-btn {
  display: block;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-white);
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------features----------- */

.containter-features {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.list {
  list-style-type: none;
}

.features-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

.subtitle-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-list .item-fut + .item-fut {
  margin-left: 30px;

}

.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------------------Чем мы занимаемся------------------- */

.list-photo {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.subtitle-technology {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.list-photo .item-list-techn + .item-list-techn {
  margin-left: 30px;
}

.item-list-techn {
  margin-bottom: 94px;
}

/* -------------------Наша команда------------------- */

.ctn-team {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sct-team {
  max-width: 1600px;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

.team-photo-fon {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-bottom: 94px;
}

.list-photo .team-photo-fon + .team-photo-fon {
  margin-left: 30px;
}

.subtitle-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 94px;
  margin-bottom: 50px;
}

.subtitle-name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.photo-team-scr {
  display: block;
}

.direction-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

/* -------------------footer------------------- */

.logo-font-footer {
  background-color: #2f303a;
  max-width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  
}

.logo-footer {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 60px;
  margin-bottom: 20px;
  max-width: 160px;
}

.studio-footer {
  color: var(--color-white);
}

.actual-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-left: 20px;
  margin-bottom: 9px;
}

.footer-contact-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  margin-left: -20px;
}
.ctn-footer {
  width: 1170px;
margin-left: auto;
margin-right: auto;
display: block;
justify-content: flex-start;
}

.email-footer {
  margin-top: 9px;
}

.tell-footer {
  margin-top: 9px;
  margin-bottom: 60px
}

/* -------------------portfolio------------------- */

/* -------------------sort------------------- */

.portfolio-button-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 94px;
}
.portfolio-button-list .list-btn + .list-btn {
  margin-left: 8px;
}

.portfolio-sort-btn-cnt {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-all {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;

  color: var(--color-white);
  cursor: pointer;
}

.sort-btn-text {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
}

.sort-btn-text:hover,
.sort-btn-text:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-white);
}

/* -------------------product list------------------- */

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

}

.product-list-photo {
  margin-bottom: 30px;
  margin-left: 30px;
}

.product-list-photo:nth-child(3n + 1) {
  margin-left: 0;
}

.product-list-photo:nth-child(n + 7) {
  margin-bottom: 0;
}



.subtitle-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-top: 20px;
  margin-left: 24px;
}

.photo-img {
  display: block;
}

.name-sort {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4xp;
  margin-left: 24px;
  margin-bottom: 20px;
}
.product-fon {
  background: var(--color-white);
  border: 1px solid #eeeeee;
  width: 370px;
}

.snare-focus:hover {
  color: #2196f3;
}

.snare-focus:focus {
  color: #2196f3;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.ctn-footer-portfolio {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 190px;
}

.actual-address-portfolio {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-left: 20px;
  margin-bottom: 9px;
}

.footer-contact-list-portfolio {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  margin-left: -20px;
}
