.technology {
  padding-bottom: 94px;
}

.technology-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.technology-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.technology-list .technology-item + .technology-item {
  margin-left: 30px;
}
.technology-img {
  display: block;
}

.technology-item {
  position: relative;
}

.technology-name {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  bottom: 0;

  text-transform: uppercase;
}