.features {
  padding: 94px 0;
}

.list {
  list-style-type: none;
}

.features-list {
  display: flex;
}

.subtitle-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-list .item-fut + .item-fut {
  margin-left: 30px;
}

.text-features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.item-fut {
  width: 270px;
}

.background-icon-fut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}