.features {
  @include mobile {
    padding: 60px 0;
  }
  @include desktop {
    padding: 94px 0;
  }
}
.features-list {
  @include tablert {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop {
    display: flex;
  }
}

.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
  
  @include tablert{
    text-align: left;
  }
}



@include tablert {
  .features-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@include desktop {
  .features-list .features-item + .features-item {
    margin: 0;
    margin-left: 30px;
  }
}

@include desktop {
  .features-item:nth-child(1) {
    margin: 0;
  }
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-item {
  width: 100%;
  margin-bottom: 30px;
  @include tablert {
    width: 354px;
    height: 251px;
  }
  @include desktop {
    width: 270px;
  }
}

.features-item:nth-child(4) {
  margin-bottom: 0;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
