.logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 15px;
  width: 134px;

}

.logo-span {
  color: #000000;
}

.logo-border {
  border-bottom: 1px solid #ececec;
}

.menu {
  position: relative;
}

.btn-menu {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 12px 8px;
  border: 0;
  background-color: var(--color-white);
}

.icon-menu {
  fill: #000;
  &:hover,&:focus {
    cursor: pointer;
    fill: var(--list-active-color);
  }
}

.use-menu {
  padding: 12px 8px;
}

