.logo {
  display: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  @include tablert {
    display: block;
  }
  @include desktop {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    margin-left: 0;
  }
}
.logo__mob {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  width: 193px;
  padding-top: 24px;
  padding-bottom: 25px;
  @include tablert {
    display: none;
  }
}

.logo-span {
  color: #000000;
}

.logo-border {
  border-bottom: 1px solid #ececec;
}
