.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  min-height: 581px;
  min-width: 528px;

  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
}

.btn-icon-modal {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00000010;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.btn-icon-modal:hover .icon-modal,
.btn-icon-modal:focus .icon-modal {
  fill: var(--list-active-color);
}

.input-modal-list {
  margin-bottom: 10px;
}

.sub-title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.name-imput-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
}

.input-modal-textarea {
  max-height: 138px;
  margin-bottom: 20px;
}

.name {
  position: relative;
}

.form-imput-modal-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus,
.form-imput-modal-name:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.icon-btn {
  position: absolute;
  top: 85%;
  left: 16px;

  transform: translateY(-60%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput-modal-name:focus ~ .icon-btn,
.form-imput-modal-name:active ~ .icon-btn {
  fill: var(--list-active-color);
}

.coment-modal {
  resize: none;
  width: 100%;
  min-height: 120px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 12px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.coment-modal:focus,
.coment-modal:active {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.link-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

.btn {
  display: block;
  margin: 0 auto;
}

.btn-modal-end {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 56px;
  margin-top: 30px;
}

.btn-modal-end:hover {
  cursor: pointer;
}
