.nav-blok {
  display: flex;
  justify-content: center;
  max-height: 80px;
  // display: none;
}

.navigation-list {
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  @include tablert {
    display: flex;
  }
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list .nav-item + .nav-item {
  margin-left: 50px;
}

.contacts-header-list {
  list-style-type: none;
  display: none;
  margin-left: auto;
  @include tablert {
    display: block;
  }
  @include desktop {
    display: flex;
  }
}
.nav-contact-tell,
.nav-contact-mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;
  @include desktop {
      font-size: 14px;
  line-height: 1.14;
  }
}

.nav-contact-mail {
  padding-top: 21px;
  margin-bottom: 10px;

  @include desktop {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.nav-contact-tell {
  padding-right: 15px;
  padding-bottom: 21px;
  @include desktop {
    padding-bottom: 32px;
    padding-top: 32px;
    margin-left: 30px;
  }
}

.main-icon {
  margin-right: 10px;
  fill: #757575;
}

.main-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.snare-focus:hover .main-icon,
.snare-focus:focus .main-icon {
  fill: currentColor;
}

// .contacts-header-list .cnt-item + .cnt-item {
//   margin-left: 50px;
// }

.portfolio-color-active,
.index-color-active {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--list-active-color);
  display: block;
  border-radius: 4px;
  position: absolute;
  bottom: -1px;
}

.btn-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #fff;
  display: block;
  margin-left: auto;
  padding: 12px 8px;
  margin-top: 10px;
  transition: fill 250ms;
  &:hover,
  &:focus {
    fill: var(--list-active-color);
  }
  @include tablert {
    display: none;
  }
}

.btn-menu-close {
  border: none;
  background-color: #fff;
  padding: 11px;
  transition: fill 250ms;
  &:hover,
  &:focus {
    fill: var(--list-active-color);
  }
  display: block;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  .containter {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.icon-menu-close {
}
.navigation-list__mob {
}
.nav-item__mob {
  margin-bottom: 32px;
  &:nth-child(3) {
    margin-bottom: 32px;
  }
}
.nav-link__mob {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;
}
.index-color-active__mob {
}
.snare-focus {
}
.current__mob {
}
.snare-focus__mob {
}
.contacts-header-list__mob {
}
.cnt-item__mob {
  margin-bottom: 32px;
  &:nth-child(2) {
    margin-bottom: 64px;
  }
}
.nav-contact__mob {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;

  letter-spacing: 0.02em;
  color: var(--list-active-color);
  text-decoration: none;
}
.nav-contact-tell__mob {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.soc-menu {
  display: flex;
}
.soc-menu__list {
  padding: 10px;
}
.soc-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
  text-decoration: none;
}

.soc-menu__bef {
  &::before {
    position: absolute;
    content: '';
    top: 10px;
    left: -20px;
    height: 1px;
    width: 1px;
    border-left: 22px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
