.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
}

.product-list-photo {
  flex-basis: calc((100% - 90px) / 9);
  margin-left: 30px;
  margin-bottom: 30px;
}

.active-blok {
  display: block;
  text-decoration: none;
}

.active-blok {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-blok:hover,
.active-blok:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.active-blok .product-description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms;
}

.active-blok:hover .product-description,
.active-blok:focus .product-description {
  opacity: 1;
  transform: translateY(-100%);
}

.product-list-photo:nth-child(n + 7) {
  margin-bottom: 0;
}

.subtitle-product {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.photo-img {
  display: block;
}

.name-sort {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4xp;
}
.product-fon {
  background: var(--color-white);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.pos-product {
  position: relative;
  overflow: hidden;
}

.product-description {
  position: absolute;
  opacity: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}