.team {
  padding: 94px 0;
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

.team-box {
  padding: 30px 0;
  align-items: center;
}

.team-list {
  display: flex;
}

.team-item-photo {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-list .team-item-photo + .team-item-photo {
  margin-left: 30px;
}

.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);

  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.team-photo {
  display: block;
}

.team-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
}

.team-item-icon {
  width: 44px;
  height: 44px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--list-active-color);
}

.team-icon {
  fill: #afb1b8;
}

.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: var(--color-white);
}

.team-icon-list .team-item-icon + .team-item-icon {
  margin-left: 10px;
}